<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}Flavour Finder - A Restaurant Recommendation Website{%endblock %}
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    {% load static %}
    <link href="{% static 'img/favicon.ico' %}" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container-xxl bg-white p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Navbar & Hero Start -->
      <div class="container-xxl position-relative p-0">
        <nav
          class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0"
        >
          <a href="{% url 'dashboard' %}" class="navbar-brand p-0">
            <h1 class="text-primary m-0">
              <i class="fa fa-utensils me-3"></i>Flavour Finder
            </h1>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
              <a
                href="{% url 'admin_dashboard' %}"
                class="nav-item nav-link active"
                >Home</a
              >
              <a href="{% url 'all_users' %}" class="nav-item nav-link active"
                >All Users</a
              >
              <a
                href="{% url 'all_searched_restaurants' %}"
                class="nav-item nav-link active"
                >All Restuarents</a
              >
              <a
                href="{% url 'user_search_graph' %}"
                class="nav-item nav-link active"
                >User Search Records</a
              >
              <a
                href="{% url 'all_contacts' %}"
                class="nav-item nav-link active"
                >Contact Messages</a
              >
            </div>

            <form method="POST" action="{% url 'logout' %}" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger py-2 px-4">
                Logout
              </button>
            </form>
          </div>
        </nav>
      </div>

      <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
          <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
              <h1 class="display-3 text-white animated slideInLeft">
                Savor Every Bite<br />of Our Culinary Creations
              </h1>
              <p class="text-white animated slideInLeft mb-4 pb-2">
                Indulge in a unique dining experience where flavors meet
                creativity. Our chefs craft each dish with passion and the
                finest ingredients, ensuring every meal is a delight.
              </p>
              
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
              <img
                class="img-fluid"
                src="{% static 'img/hero.png' %}"
                alt="Delicious Meal"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Navbar & Hero End -->

      <style>
        #toast-container {
          position: fixed;
          top: 20px;
          right: 20px;
          z-index: 1000;
        }

        .toast {
          background: #28a745; /* Green background for success */
          color: white;
          padding: 15px;
          margin: 5px;
          border-radius: 5px;
          opacity: 0;
          transition: opacity 0.5s;
        }

        .toast.show {
          opacity: 1;
        }
      </style>

      {% block content %} {% if messages %}
      <div id="toast-container">
        {% for message in messages %}
        <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <script>
        window.onload = function () {
          const toasts = document.querySelectorAll(".toast");
          toasts.forEach((toast) => {
            toast.classList.add("show"); // Add a class to show the toast
            setTimeout(() => {
              toast.classList.remove("show"); // Remove the class after 5 seconds
            }, 5000); // 5000 milliseconds = 5 seconds
          });
        };
      </script>
      {% endblock %}
      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
      <!-- JavaScript Libraries -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="{% static 'lib/wow/wow.min.js' %}"></script>
      <script src="{% static 'lib/easing/easing.min.js' %}"></script>
      <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
      <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
      <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
      <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
      <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

      <!-- Template Javascript -->
      <script src="{% static 'js/main.js' %}"></script>
    </div>
  </body>
</html>
